<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>ex</key>
			<string>54</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>20</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>92</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>94</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>58</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>77</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>66</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>79</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>89</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>91</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>73</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>37</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>75</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>64</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>17</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>76</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>102</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>82</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>65</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>79</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>92</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>91</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>101</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>37</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>66</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>55</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>94</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>76</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>58</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>102</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>94</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>87</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>80</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>62</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>88</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>37</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>75</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>64</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>13</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>76</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>58</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>102</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>65</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>79</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>80</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>93</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>72</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>77</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>54</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>60</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>90</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>101</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>88</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>82</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>66</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>74</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>92</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>62</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>58</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>45</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>21</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>65</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>83</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>80</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>93</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>72</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>77</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>39</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>42</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>92</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>76</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>41</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>23</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>43</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>63</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>90</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>44</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>88</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>82</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>39</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>50</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>13</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>91</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>73</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>60</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>66</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>61</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>89</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>44</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>41</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>37</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>56</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>20</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>12</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>63</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>102</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>60</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>43</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>49</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>94</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>53</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>45</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>60</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>76</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>42</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>40</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>93</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>101</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>23</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>46</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>61</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>13</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>63</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>72</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>44</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>84</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>64</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>12</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>57</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>73</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>37</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>84</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>24</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>92</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>67</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>78</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>81</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>86</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>59</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>25</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>92</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>58</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>60</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>39</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>52</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>94</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>93</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>45</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>51</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>66</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>87</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>13</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>96</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>103</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>81</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>65</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>74</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>86</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>67</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>78</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>98</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>4</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>83</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>86</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>2</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>101</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>62</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>5</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>16</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>80</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>93</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>70</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>34</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>10</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>19</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>13</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>38</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>71</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>18</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>68</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>33</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>97</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>2</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>103</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>95</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>47</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>42</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>48</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>44</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>41</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>51</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>99</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>100</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>86</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>30</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>33</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>31</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>8</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>22</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>97</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>3</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>102</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>18</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>6</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>15</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>7</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>93</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>70</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>67</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>11</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>14</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>7</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>30</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>33</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>29</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>10</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>35</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>27</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>33</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>27</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>69</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>19</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>104</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>2</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>103</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>81</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>69</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>52</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>48</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>53</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>41</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>36</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>105</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>16</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>24</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>11</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>102</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>26</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>44</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>42</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>48</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>98</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>33</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>34</string>
			<key>time</key>
			<string>60</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ex</key>
			<string>11</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>12</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>105</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>-1</string>
			<key>time</key>
			<string>30</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>53</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>41</string>
			<key>time</key>
			<string>60</string>
		</dict>
		<dict>
			<key>ex</key>
			<string>51</string>
			<key>time</key>
			<string>30</string>
		</dict>
	</array>
</array>
</plist>
